/* App container styles */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* YourBotArmy container styles */
.YourBotArmy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* BotArmy container for bot rows */
.botCollectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for each row of bots */
.botRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Adjust spacing between rows */
}

/* Styling for bot cards */
.BotCard {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px; /* Adjust spacing between cards */
  /* Additional styles as needed */
}

/* Styling for empty divs to ensure 20 cards per row */
.empty {
  visibility: hidden;
  width: calc(100% / 20 - 10px); /* Adjust width to fit 20 cards in a row */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
